Oracle_SQL_DB 연동하기

In [23]:
# pip install cx_Oracle
# pip install cx_Oracle


import cx_Oracle
import pandas as pd
import numpy as np


# scott/tiger 접속
conn = cx_Oracle.connect('scott/tiger@localhost:1521/orcl')
# conn = cx_Oracle.connect('scott/tiger@192.168.43.112:1521/orcl')
cursor = conn.cursor()


# 테이블 생성
cursor.execute("""CREATE TABLE EMP_TEMP
    AS SELECT * FROM EMP""")


# 데이터 추가하기
cursor.execute("""INSERT INTO EMP_TEMP
        VALUES (7001,'MrPython','ANALYST',7566,
        '1980/01/01',1000,50,20 )""")
conn.commit() 

cursor.execute("SELECT * FROM EMP_TEMP")
row = cursor.fetchall()
# print(row)


# 데이터 프레임 생성
header = ['EMPNO','ENAME','JOB','MGR',
          'HIREDATE','SAL','COMM','DEPTNO']

df = pd.DataFrame(row,columns=header)
# print(df)

cursor.execute("DROP TABLE EMP_TEMP")
conn.commit()    



# 프로그램 종료시에는 아래와 같이 DB 접속을 해제시킨다 
cursor.close()
conn.close()
# df

DatabaseError: ORA-00955: 기존의 객체가 이름을 사용하고 있습니다.

In [55]:
import urllib.request as REQ
import urllib.parse
from bs4 import BeautifulSoup

urlpage = 0
url1 = 'https://www.yslbeautykr.com/ko_KR/makeup/lips?sz=12&start='
url = url1 + str(urlpage)
response = REQ.urlopen(url)
soup = BeautifulSoup(response,'html.parser')
# print(soup.prettify())
soup.select_one('a')     # tag가 'a' 인 데이터를 1개만 반환
soup.select('a')         # tag가 'a' 인 데이터를 list로 반환
soup.find('a')
soup.find_all('a')
soup.findAll('a')

div = soup.findAll('div',{'class':'product_tile'})
p_tag = div[0].find('a',{'class':'product_name desktop_content tablet_content'})
p_tag


name_tag = div[0].find('div',{'class':'product_subtitle'})
name_tag
print(name_tag.getText())

span_tag = div[0].find('p',{'class':'product_price price_sale b-product_price-sale b-product_price'})
print(span_tag)

img_tag = div[0].find('img')
print('SRC:',img_tag.get('data-desktop-src').strip())

워터 틴트

<p class="product_price price_sale b-product_price-sale b-product_price" data-pricevalue="45000.0" title="판매 가격">
<span class="product_price_title b-product_price-title"></span>




45,000원


</p>
SRC: https://www.yslbeautykr.com/dw/image/v2/AAWH_PRD/on/demandware.static/-/Sites-ysl-master-catalog/default/dw5bbd6c16/Makeup/Lips/VERNIS A LEVRES WATER STAIN/3614272556539_612_1.png?sw=202&sh=267&sm=fit&q=70

In [56]:
sql_insert = 'insert into COSMATIC VALUES(:BRAND, :NAME,:PRICE, :SRC)'
cursor.execute(sql_insert,
              BRAND = p_tag,
              NAME = name_tag,
              PRICE = span_tag,
              SRC = img_tag ecode('utf8').decode('utf8'))
conn.commit()

SyntaxError: invalid syntax (<ipython-input-56-9a4cd45540e1>, line 6)