03장 pandas 기본

Dataframe 객체 : 2차원 배열
Series 객체 : 1차원 배열, 1차원 ndarray 와 호환

In [5]:
import pandas as pd
# from pandas.io.parser import read_csv  이것도 가능하다
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
print(df)
# 컬럼네임, 인덱스 네임

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [12]:
score_table = {'이름' : ['a','b','c','d','e'],
              '국어점수' : [50,60,70,80,90],
              '영어점수' : [10,20,30,40,50],
              '수학점수' : [20,30,40,10,30]}
df = pd.DataFrame(score_table)
print(df)
df       # 그냥 df가 더 깔끔하게 나온다

  이름  국어점수  영어점수  수학점수
0  a    50    10    20
1  b    60    20    30
2  c    70    30    40
3  d    80    40    10
4  e    90    50    30

  이름  국어점수  영어점수  수학점수
0  a    50    10    20
1  b    60    20    30
2  c    70    30    40
3  d    80    40    10
4  e    90    50    30

In [13]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [16]:
df.columns

Index(['이름', '국어점수', '영어점수', '수학점수'], dtype='object')

In [17]:
df.values

array([['a', 50, 10, 20],
       ['b', 60, 20, 30],
       ['c', 70, 30, 40],
       ['d', 80, 40, 10],
       ['e', 90, 50, 30]], dtype=object)

pandas로 csv 파일 읽어 오기
 - pd.read_csv('파일명') 
 - df.to_csv('파일명')

In [40]:
df = pd.read_csv('WHO_first9cols.csv')
# df

In [31]:
# 교재에 없는 저장 방법('이름 설정')
df.to_csv('세계보건기구9개의컬럼.csv',index=False)

 - pandas. 은 불러오기
 - df. 은 저장(인덱스 포함 저장. index=False라고 적어주면 없어진다)

데이터 프레임 분석 : 속성  _ 2차원이 대부분

In [39]:
print('shape:',df.shape)
print('len:', len(df))               # 행의 갯수를 출력
print('header:', df.columns)         # ★중요
df.columns[0]                        # 원하는 정보 인덱싱이 가능

print('index:', df.index)            # 행의 인덱스 값
print('values:',df.values)

shape: (202, 9)
len: 202
header: Index(['Country', 'CountryID', 'Continent', 'Adolescent fertility rate (%)',
       'Adult literacy rate (%)',
       'Gross national income per capita (PPP international $)',
       'Net primary school enrolment ratio female (%)',
       'Net primary school enrolment ratio male (%)',
       'Population (in thousands) total'],
      dtype='object')
index: RangeIndex(start=0, stop=202, step=1)
values: [['Afghanistan' 1 1 ... nan nan 26088.0]
 ['Albania' 2 2 ... 93.0 94.0 3172.0]
 ['Algeria' 3 3 ... 94.0 96.0 33351.0]
 ...
 ['Yemen' 200 1 ... 65.0 85.0 21732.0]
 ['Zambia' 201 3 ... 94.0 90.0 11696.0]
 ['Zimbabwe' 202 3 ... 88.0 87.0 13228.0]]

Dataframe을 행(row)으로 접근

In [71]:
# df[start 행번호 :end 행번호 :step]
df[:1]
df[11:16]
df[::3]     # 3개씩 step
df[::-1]    # 역순으로 출력
# 슬라이싱처럼 사용
df[:1]

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0

Dataframe을 열(colunms)으로 접근

In [70]:
# len(df.columns)     # 9개의 열 
# df['Country']       # 컬럼 네임을 집어 넣으면 값이 나온다
# df[df.columns[0]]   # 같은 결과
# df[df.columns[-1]]
# print(df[df.columns[-1]])

Series 객체 : 1차원 배열, DataFrame내의 1개의 컬럼

In [57]:
type(df)                # pandas.core.frame.DataFrame
sr = df['Country']
type(sr)                # pandas.core.series.Series
sr = df[df.columns[0]]
type(sr)                # pandas.core.series.Series

'Afghanistan'

In [67]:
sr = df[df.columns[0]][0]
sr                           # 'Afghanistan'
sr = df[df.columns[0]][:4]
sr 
sr = df[df.columns[0]][-1:] 
sr                           # 201    Zimbabwe, 마지막 요소 접근
sr = df[df.columns[0]][::-1] 
sr                           # 거꾸로~ㅎ
sr = df[df.columns[0]][0]
sr

'Afghanistan'

In [78]:
r = df[['Country','CountryID','Continent']]
# 요런 것도 가능, 대괄호 두번 치면 원하는 컬럼만 뽑는다.
# 컬럼 하나만 추출하면 시리즈, 두 개 이상이면 데이터프레임
type(r)   #  pandas.core.frame.DataFrame

pandas.core.frame.DataFrame

In [81]:
r = df[[df.columns[0],df.columns[1],df.columns[2]]]
r
type(r)
# 요렇게도 가능. 위랑 똑같은 결과

pandas.core.frame.DataFrame

In [82]:
r2 = df[[df.columns[0],df.columns[1],df.columns[2]]][:10]
r2
# 10개만 보고 싶다. 샘플링 가능

               Country  CountryID  Continent
0          Afghanistan          1          1
1              Albania          2          2
2              Algeria          3          3
3              Andorra          4          2
4               Angola          5          3
5  Antigua and Barbuda          6          4
6            Argentina          7          5
7              Armenia          8          2
8            Australia          9          6
9              Austria         10          2

DataFrame의 스칼라 값(원소) 접근하기 : 읽기 및 수정

- (1) df.loc[행,열] : 명시적인 index
- (2) df.iloc[행,열] : 암묵적인 index(파이썬 스타일), int형 사용, 0부터 시작

In [90]:
df.loc[78,'Country']         # 하나만 가능
df.loc[:3,'Country']         # 범위 지정 가능
df.loc[:3,['Country','CountryID', 'Continent']]   # 열도 범위 지정 가능

       Country  CountryID  Continent
0  Afghanistan          1          1
1      Albania          2          2
2      Algeria          3          3
3      Andorra          4          2

In [100]:
# df.iloc[]

data = df.iloc[0,0]
print(data, type(data))
# Afghanistan <class 'str'>

data = df.iloc[2,2]
print(data, type(data))
# 3 <class 'numpy.int64'>

data = df.iloc[2,[0,1,2]]
print(data, type(data))
# <class 'pandas.core.series.Series'>

data = df.iloc[:3,[0,1,2]]
print(data, type(data))
# <class 'pandas.core.frame.DataFrame'>

df.iloc[3,0] = 'jae kwang'    # 스칼라값 변경(메모리 값이 바뀐 것이지 원본이 바뀐 것으 아니다.)
data = df.iloc[3,0]
print(data)

df.iloc[-1,0]           # 마지막을 추출하기
df.iloc[0,-1]

Afghanistan <class 'str'>
3 <class 'numpy.int64'>
Country      Algeria
CountryID          3
Continent          3
Name: 2, dtype: object <class 'pandas.core.series.Series'>
       Country  CountryID  Continent
0  Afghanistan          1          1
1      Albania          2          2
2      Algeria          3          3 <class 'pandas.core.frame.DataFrame'>
jae kwang

# 태양 흑점 (sunspot) 데이터

Quandl 패키지 설치 방법
 - window 메뉴에서 'Anaconda Prompt'를 관리자 권한으로 실행하고 
 - 명령창에서 conda install quandl 실행

In [117]:
import quandl
sunspots = quandl.get('SIDC/SUNSPOTS_A')

In [118]:
type(sunspots)

pandas.core.frame.DataFrame

In [122]:
sunspots.to_csv('sunspots.csv',float_format = '%.2f',na_rep='NaN')

In [129]:
sunspots = pd.read_csv('sunspots.csv')
sunspots.shape       # (319, 5)
sunspots.iloc[[2,4,-4,-2]]      # 열을 선택안해서 다 선택하는 것으로 행으로만 접근.

,Date,Yearly Mean Total Sunspot Number,Yearly Mean Standard Deviation,Number of Observations,Definitive/Provisional Indicator
2,1702-12-31,26.7,NaN,NaN,1.0
4,1704-12-31,60.0,NaN,NaN,1.0
315,2015-12-31,69.8,6.4,8903.0,1.0
317,2017-12-31,21.7,2.5,11444.0,1.0

# 데이터프레임과 통계메소드

In [130]:
sunspots.describe() # 통계요약

,Yearly Mean Total Sunspot Number,Yearly Mean Standard Deviation,Number of Observations,Definitive/Provisional Indicator
count,319.000000,201.000000,201.000000,319.0
mean,78.970533,7.947761,1572.751244,1.0
std,62.019871,3.840522,2667.888556,0.0
min,0.000000,1.100000,150.000000,1.0
25%,24.800000,4.700000,365.000000,1.0
50%,65.800000,7.600000,365.000000,1.0
75%,115.750000,10.400000,366.000000,1.0
max,269.300000,19.100000,12611.000000,1.0

In [133]:
sunspots.count()     # NaN이 아닌 값의 갯수

Date                                319
Yearly Mean Total Sunspot Number    319
Yearly Mean Standard Deviation      201
Number of Observations              201
Definitive/Provisional Indicator    319
dtype: int64

In [134]:
sunspots.mad()    # mean absolute deviation, 평균 절대 편차

Yearly Mean Total Sunspot Number      50.954279
Yearly Mean Standard Deviation         3.155848
Number of Observations              1990.750773
Definitive/Provisional Indicator       0.000000
dtype: float64

In [135]:
sunspots.std()    # standard deviation, 표준편차

Yearly Mean Total Sunspot Number      62.019871
Yearly Mean Standard Deviation         3.840522
Number of Observations              2667.888556
Definitive/Provisional Indicator       0.000000
dtype: float64

In [136]:
sunspots.median()   # 중앙값, 2분위수

Yearly Mean Total Sunspot Number     65.8
Yearly Mean Standard Deviation        7.6
Number of Observations              365.0
Definitive/Provisional Indicator      1.0
dtype: float64

In [138]:
sunspots.mean()    # 평균

Yearly Mean Total Sunspot Number      78.970533
Yearly Mean Standard Deviation         7.947761
Number of Observations              1572.751244
Definitive/Provisional Indicator       1.000000
dtype: float64

In [141]:
sunspots.sum()    # 합

Date                                1700-12-311701-12-311702-12-311703-12-311704-1...
Yearly Mean Total Sunspot Number                                              25191.6
Yearly Mean Standard Deviation                                                 1597.5
Number of Observations                                                         316123
Definitive/Provisional Indicator                                                  319
dtype: object

In [142]:
sunspots.min()

Date                                1700-12-31
Yearly Mean Total Sunspot Number             0
Yearly Mean Standard Deviation             1.1
Number of Observations                     150
Definitive/Provisional Indicator             1
dtype: object

In [143]:
sunspots.max()

Date                                2018-12-31
Yearly Mean Total Sunspot Number         269.3
Yearly Mean Standard Deviation            19.1
Number of Observations                   12611
Definitive/Provisional Indicator             1
dtype: object

In [145]:
sunspots.mode()   # 최빈값, 빈도가 가장 높은 값

,Date,Yearly Mean Total Sunspot Number,Yearly Mean Standard Deviation,Number of Observations,Definitive/Provisional Indicator
0,1700-12-31,18.3,9.2,365.0,1.0
1,1701-12-31,NaN,NaN,NaN,NaN
2,1702-12-31,NaN,NaN,NaN,NaN
3,1703-12-31,NaN,NaN,NaN,NaN
4,1704-12-31,NaN,NaN,NaN,NaN
5,1705-12-31,NaN,NaN,NaN,NaN
6,1706-12-31,NaN,NaN,NaN,NaN
7,1707-12-31,NaN,NaN,NaN,NaN
8,1708-12-31,NaN,NaN,NaN,NaN
9,1709-12-31,NaN,NaN,NaN,NaN
10,1710-12-31,NaN,NaN,NaN,NaN
11,1711-12-31,NaN,NaN,NaN,NaN
12,1712-12-31,NaN,NaN,NaN,NaN
13,1713-12-31,NaN,NaN,NaN,NaN
14,1714-12-31,NaN,NaN,NaN,NaN
15,1715-12-31,NaN,NaN,NaN,NaN
16,1716-12-31,NaN,NaN,NaN,NaN
17,1717-12-31,NaN,NaN,NaN,NaN
18,1718-12-31,NaN,NaN,NaN,NaN
19,1719-12-31,NaN,NaN,NaN,NaN
20,1720-12-31,NaN,NaN,NaN,NaN
21,1721-12-31,NaN,NaN,NaN,NaN
22,1722-12-31,NaN,NaN,NaN,NaN
23,1723-12-31,NaN,NaN,NaN,NaN
24,1724-12-31,NaN,NaN,NaN,NaN
25,1725-12-31,NaN,NaN,NaN,NaN
26,1726-12-31,NaN,NaN,NaN,NaN
27,1727-12-31,NaN,NaN,NaN,NaN
28,1728-12-31,NaN,NaN,NaN,NaN
29,1729-12-31,NaN,NaN,NaN,NaN
...,...,...,...,...,...
289,1989-12-31,NaN,NaN,NaN,NaN
290,1990-12-31,NaN,NaN,NaN,NaN
291,1991-12-31,NaN,NaN,NaN,NaN
292,1992-12-31,NaN,NaN,NaN,NaN
293,1993-12-31,NaN,NaN,NaN,NaN
294,1994-12-31,NaN,NaN,NaN,NaN
295,1995-12-31,NaN,NaN,NaN,NaN
296,1996-12-31,NaN,NaN,NaN,NaN
297,1997-12-31,NaN,NaN,NaN,NaN
298,1998-12-31,NaN,NaN,NaN,NaN
299,1999-12-31,NaN,NaN,NaN,NaN
300,2000-12-31,NaN,NaN,NaN,NaN
301,2001-12-31,NaN,NaN,NaN,NaN
302,2002-12-31,NaN,NaN,NaN,NaN
303,2003-12-31,NaN,NaN,NaN,NaN
304,2004-12-31,NaN,NaN,NaN,NaN
305,2005-12-31,NaN,NaN,NaN,NaN
306,2006-12-31,NaN,NaN,NaN,NaN
307,2007-12-31,NaN,NaN,NaN,NaN
308,2008-12-31,NaN,NaN,NaN,NaN
309,2009-12-31,NaN,NaN,NaN,NaN
310,2010-12-31,NaN,NaN,NaN,NaN
311,2011-12-31,NaN,NaN,NaN,NaN
312,2012-12-31,NaN,NaN,NaN,NaN
313,2013-12-31,NaN,NaN,NaN,NaN
314,2014-12-31,NaN,NaN,NaN,NaN
315,2015-12-31,NaN,NaN,NaN,NaN
316,2016-12-31,NaN,NaN,NaN,NaN
317,2017-12-31,NaN,NaN,NaN,NaN
318,2018-12-31,NaN,NaN,NaN,NaN

In [146]:
sunspots.var()   # 분산

Yearly Mean Total Sunspot Number    3.846464e+03
Yearly Mean Standard Deviation      1.474961e+01
Number of Observations              7.117629e+06
Definitive/Provisional Indicator    0.000000e+00
dtype: float64

In [148]:
sunspots.skew()  # 비대칭도

(Yearly Mean Total Sunspot Number    0.810785
 Yearly Mean Standard Deviation      0.546692
 Number of Observations              1.972382
 Definitive/Provisional Indicator    0.000000
 dtype: float64,)

In [149]:
sunspots.kurt()  # 첨도

Yearly Mean Total Sunspot Number   -0.127610
Yearly Mean Standard Deviation     -0.252353
Number of Observations              2.728810
Definitive/Provisional Indicator    0.000000
dtype: float64

# DataFrame을 불리언 방식으로 검색

In [153]:
#sunspots['Yearly Mean Total Sunspot Number']
sunspots[sunspots > sunspots.mean()]

,Date,Yearly Mean Total Sunspot Number,Yearly Mean Standard Deviation,Number of Observations,Definitive/Provisional Indicator
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN
5,NaN,96.7,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN
17,NaN,105.0,NaN,NaN,NaN
18,NaN,100.0,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN
26,NaN,130.0,NaN,NaN,NaN
27,NaN,203.3,NaN,NaN,NaN
28,NaN,171.7,NaN,NaN,NaN
29,NaN,121.7,NaN,NaN,NaN
...,...,...,...,...,...
289,NaN,211.1,12.8,6932.0,NaN
290,NaN,191.8,11.2,7108.0,NaN
291,NaN,203.3,12.7,6932.0,NaN
292,NaN,133.0,8.9,7845.0,NaN
293,NaN,NaN,NaN,8010.0,NaN
294,NaN,NaN,NaN,8524.0,NaN
295,NaN,NaN,NaN,8429.0,NaN
296,NaN,NaN,NaN,7614.0,NaN
297,NaN,NaN,NaN,7294.0,NaN
298,NaN,88.3,NaN,6353.0,NaN
299,NaN,136.3,9.3,6413.0,NaN
300,NaN,173.9,10.1,5953.0,NaN
301,NaN,170.4,10.5,6558.0,NaN
302,NaN,163.6,9.8,6588.0,NaN
303,NaN,99.3,NaN,7087.0,NaN
304,NaN,NaN,NaN,6882.0,NaN
305,NaN,NaN,NaN,7084.0,NaN
306,NaN,NaN,NaN,6370.0,NaN
307,NaN,NaN,NaN,6841.0,NaN
308,NaN,NaN,NaN,6644.0,NaN
309,NaN,NaN,NaN,6465.0,NaN
310,NaN,NaN,NaN,6328.0,NaN
311,NaN,80.8,NaN,6077.0,NaN
312,NaN,84.5,NaN,5753.0,NaN
313,NaN,94.0,NaN,5347.0,NaN
314,NaN,113.3,8.0,5273.0,NaN
315,NaN,NaN,NaN,8903.0,NaN
316,NaN,NaN,NaN,9940.0,NaN
317,NaN,NaN,NaN,11444.0,NaN
318,NaN,NaN,NaN,12611.0,NaN

In [155]:
# 불필요한 결과
sunspots[sunspots['Number of Observations'] < 
         sunspots['Number of Observations'].mean()]

# 올바른 결과
sunspots[sunspots['Number of Observations'] < 
         sunspots['Number of Observations'].mean()]

,Date,Yearly Mean Total Sunspot Number,Yearly Mean Standard Deviation,Number of Observations,Definitive/Provisional Indicator
118,1818-12-31,52.9,9.2,213.0,1.0
119,1819-12-31,38.5,7.9,249.0,1.0
120,1820-12-31,24.2,6.4,224.0,1.0
121,1821-12-31,9.2,4.2,304.0,1.0
122,1822-12-31,6.3,3.7,353.0,1.0
123,1823-12-31,2.2,2.7,302.0,1.0
124,1824-12-31,11.4,4.6,194.0,1.0
125,1825-12-31,28.2,6.8,310.0,1.0
126,1826-12-31,59.9,9.8,320.0,1.0
127,1827-12-31,83.0,11.6,321.0,1.0
128,1828-12-31,108.5,13.2,301.0,1.0
129,1829-12-31,115.2,13.6,291.0,1.0
130,1830-12-31,117.4,13.7,268.0,1.0
131,1831-12-31,80.8,11.4,285.0,1.0
132,1832-12-31,44.3,8.5,277.0,1.0
133,1833-12-31,13.4,4.9,292.0,1.0
134,1834-12-31,19.5,5.8,260.0,1.0
135,1835-12-31,85.8,11.8,173.0,1.0
136,1836-12-31,192.7,17.6,166.0,1.0
137,1837-12-31,227.3,19.1,150.0,1.0
138,1838-12-31,168.7,16.5,201.0,1.0
139,1839-12-31,143.0,15.1,194.0,1.0
140,1840-12-31,105.5,13.0,248.0,1.0
141,1841-12-31,63.3,10.1,277.0,1.0
142,1842-12-31,40.3,8.1,311.0,1.0
143,1843-12-31,18.1,5.6,320.0,1.0
144,1844-12-31,25.1,6.5,294.0,1.0
145,1845-12-31,65.8,10.3,265.0,1.0
146,1846-12-31,102.7,12.8,247.0,1.0
147,1847-12-31,166.3,16.3,232.0,1.0
...,...,...,...,...,...
251,1951-12-31,98.3,6.6,365.0,1.0
252,1952-12-31,45.0,4.5,366.0,1.0
253,1953-12-31,20.1,3.0,365.0,1.0
254,1954-12-31,6.6,1.7,365.0,1.0
255,1955-12-31,54.2,4.9,365.0,1.0
256,1956-12-31,200.7,9.5,366.0,1.0
257,1957-12-31,269.3,11.0,365.0,1.0
258,1958-12-31,261.7,10.8,365.0,1.0
259,1959-12-31,225.1,10.0,365.0,1.0
260,1960-12-31,159.0,8.4,366.0,1.0
261,1961-12-31,76.4,5.8,365.0,1.0
262,1962-12-31,53.4,4.9,365.0,1.0
263,1963-12-31,39.9,4.2,365.0,1.0
264,1964-12-31,15.0,2.6,366.0,1.0
265,1965-12-31,22.0,3.2,365.0,1.0
266,1966-12-31,66.8,5.4,365.0,1.0
267,1967-12-31,132.9,7.7,365.0,1.0
268,1968-12-31,150.0,8.2,366.0,1.0
269,1969-12-31,149.4,8.2,365.0,1.0
270,1970-12-31,148.0,8.1,365.0,1.0
271,1971-12-31,94.4,6.5,365.0,1.0
272,1972-12-31,97.6,6.6,366.0,1.0
273,1973-12-31,54.1,4.9,365.0,1.0
274,1974-12-31,49.2,4.7,365.0,1.0
275,1975-12-31,22.5,3.2,365.0,1.0
276,1976-12-31,18.4,2.9,366.0,1.0
277,1977-12-31,39.3,4.2,365.0,1.0
278,1978-12-31,131.0,7.6,365.0,1.0
279,1979-12-31,220.1,9.9,365.0,1.0
280,1980-12-31,218.9,9.9,366.0,1.0

In [156]:
sunspots.head()    # 처음 5줄
sunspots.head(3)   # 처음 3줄
sunspots.tail()    # 처음 5줄
sunspots.tail(3)   # 처음 3줄

,Date,Yearly Mean Total Sunspot Number,Yearly Mean Standard Deviation,Number of Observations,Definitive/Provisional Indicator
316,2016-12-31,39.8,3.9,9940.0,1.0
317,2017-12-31,21.7,2.5,11444.0,1.0
318,2018-12-31,7.0,1.1,12611.0,1.0

# 데이터 프레임의 데이터 추가와 합치기

In [168]:
score_table1 = {'영어점수' : [72,82,22,73,53], '수학점수' : [50,60,70,80,90]}
score_table2 = {'영어점수' : [10,20,30,40,50], '수학점수' : [20,30,40,10,30]}
df1 = pd.DataFrame(score_table1)
df2 = pd.DataFrame(score_table2)
df1
df2

# 데이터 프레임에 데이터 추가 : new_dataframe = old_dataframe1.append(old_dataframe2)

df1.append(df2)                # 공통된 열을 사용하여 행을 추가(컬럼은 똑같고 인스턴스만 다를 경우)
df1.append(df2,ignore_index=True)
df1  # 원본 데이터는 append해도 변하지 않는다

   영어점수  수학점수
0    72    50
1    82    60
2    22    70
3    73    80
4    53    90

In [171]:
pd.concat([df1,df2],axis=0,ignore_index=True)

   영어점수  수학점수
0    72    50
1    82    60
2    22    70
3    73    80
4    53    90
5    10    20
6    20    30
7    30    40
8    40    10
9    50    30